
/* about me page */

.img {
    width: 300px;
    margin-top: 50px;

}

.header {

    margin-top: 20px;
    font-weight: bold;
    padding: 20px;
    text-align: left;
    font-family: 'Questrial', sans-serif;


}


.p1 {
    margin-top: 190px;
    font-family: 'Questrial', sans-serif;
    background-color: #fae8e9;
    padding: 15px 15px 5px 15px;

}

/* sticky footer */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* contact page */

.contact {
margin: 30px;
background-color: #fae8e9;
padding: 30px 60px 30px 60px;
font-family: 'Questrial', sans-serif;



}

.img1 {

    background-color:#fae8e9;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    width: 200px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    font-size: 20px;

}

.img2 {

    background-color:#fae8e9;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    width: 200px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    font-size: 20px;

}

.img3 {

    background-color:#fae8e9;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    width: 200px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    font-size: 20px;

}

.img4 {

    background-color:#fae8e9;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    width: 200px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    font-size: 20px;

}