.img {
    width: 300px;
    margin-top: 50px;

}

.header {

    margin-top: 20px;
    font-weight: bold;
    padding: 20px;
    text-align: left;
    font-family: 'Questrial', sans-serif;


}

.p1 {
    margin-top: 190px;
    font-family: 'Questrial', sans-serif;
    background-color: #fae8e9;
    padding: 15px 15px 5px 15px;

}

.footer {
float: bottom;
background-color: #fae8e9;
margin: 10px;
text-align: center;


}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}